.hoverText {
    transition:
            0.35s font-weight,
            0.35s color;
}

.hoverText:hover {
    font-weight: 600;
    color: #1D1E22;
}

/* To the right */
.hoverText:hover + .hoverText {
    font-weight: 400;
    color: rgb(128, 128, 128);
}

.hoverText:hover + .hoverText + .hoverText {
    font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
    font-weight: 400;
    color: rgb(211, 211, 211);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
}